/* Root */
.text-light {
    color: rgba(255, 255, 255, .75) !important;
}

.btn:focus {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .75);
}

* {
    font-family: 'Lato',
    sans-serif;
}

/* Loader */
#loader {
    z-index: 3000;
    background-color: black;
    font-size: 27px;
    font-weight: 600;
}

#loader p::after {
    content: ' .';
    -webkit-animation: dots 1s steps(5, end) infinite;
    -moz-animation: dots 1s steps(5, end) infinite;
    -o-animation: dots 1s steps(5, end) infinite;
    animation: dots 1s steps(5, end) infinite;
}

#loader.d-none p::after {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 white;
    }
}

@-moz-keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 white;
    }
}

@-o-keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 white;
    }
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .5em 0 0 rgba(0, 0, 0, 0),
            1em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .5em 0 0 white,
            1em 0 0 white;
    }
}